@import "../../config.scss";

.burger {
  display: none;
}

.container {
  pointer-events: auto;
  max-width: 100%;
  height: 8vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // padding-left: 50px;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  transition: all 100ms ease-in;
}

.link {
  color: $light;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 30px;
  font-family: $montserrat;
  transition: color 250ms linear;
  &:hover {
    cursor: pointer;
  }
}

.active {
  color: $purpleWhite;
}

@media screen and (max-width: 768px) {
  .container {
  }
}
