@import "../../config.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.A {
  font-family: $lato;
  font-size: 1.5rem;
}
