@import "../../config.scss";

.desktopContainer {
  background-color: $white;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 30vh;
      width: 30vh;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  h1 {
    font-family: $arvo;
    margin-top: 0;
  }
  p {
    font-family: $montserrat;
    font-weight: 200;
    margin: 0 5vw;
    padding: 0;
    padding-bottom: 4vh;
    font-size: 1.2rem;
  }
}

.imageDiv {
  flex: 3;
}
.textDiv {
  position: relative;
  flex: 4;
  flex-direction: column;
}
