@import "../../config.scss";

.desktopContainer {
  background-color: $primary;
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 3fr;
  max-width: 100vw;
  h1 {
    color: $light;
    font-family: $arvo;
    font-style: italic;
    font-weight: bold;
    font-size: 5rem;
    padding: 0 20px;
    margin: 0;
  }
  h2 {
    color: $light;
    font-family: $montserrat;
    font-weight: 200;
    font-style: italic;
    padding: 0 30px;
    margin: 0;
  }
}

.mobileContainer {
  background: $darkPrimary;
  color: $secondary;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: $arvo;
  }
}

.videoContainer {
  background-color: $primary;
  // display: flex;
  // justify-items: center;
  // align-items: center;
  height: 100vh;
  width: 100%;
}

.video {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
