@import "../../config.scss";

.container {
  background-color: $white;
  padding-top: 8vh;
  min-height: 100vh;
  h2 {
    color: $primary;
    font-family: $montserrat;
    font-weight: 500;
    margin: 0;
    padding: 5vh;
  }
}
