@import "../../config.scss";
.container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    font-family: $montserrat;
    font-weight: 400;
  }
}

.iconGrid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 60%;
  width: 80%;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    height: 15vh;
    width: 15vw;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .iconGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .iconContainer {
    img {
      width: 80%;
    }
  }
}
