@import "../../config.scss";

.card {
  transition: all 200ms linear;
}

.activeCard {
  transform: scale(0.95);
  opacity: 1;
}

.unActiveCard {
  opacity: 0.5;
  transform: scale(0.8);
}

.arrow {
  color: $primary;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  font-size: 3rem;
  transition: color 200ms ease-in;
  &:hover {
    color: $highlight;
  }
}

.leftArrow {
  top: 50%;
  left: 0%;
}

.rightArrow {
  top: 50%;
  right: 0%;
}
