@import "../colors.scss";
.desktopContainer {
  // background: linear-gradient(
  //   rgb(5, 5, 83) 0%,
  //   rgba(9, 9, 121, 1) 70%,
  //   rgb(0, 38, 255) 100%
  // );
  background: $darkPrimary;
  color: $secondary;
  // font-family: "-apple-system, Roboto, sans-serif, serif";
  // margin: 0;
  height: 100vh;
  max-width: 100vw;
  flex: 1;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  h1 {
    font-family: $font;
  }
}

.mobileContainer {
  // background: linear-gradient(
  //   rgb(5, 5, 83) 0%,
  //   rgba(9, 9, 121, 1) 70%,
  //   rgb(0, 38, 255) 100%
  // );
  background: $darkPrimary;
  color: $secondary;
  // font-family: "-apple-system, Roboto, sans-serif, serif";
  // margin: 0;
  height: 100vh;
  max-width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: $font;
  }
}
