@import "../colors.scss";
.desktopContainer {
  background: $darkPrimary;
  color: $secondary;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  max-width: 100%;
  h1 {
    font-family: $font;
  }
}

.mobileContainer {
  background: $darkPrimary;
  color: $secondary;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: $font;
  }
}
