@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

// Fonts
$arvo: "Arvo", serif;
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;

// Colors
$primary: #0c0032;
$darkPrimary: #0c0032;
$secondary: #190061;
$highlight: #3500d3;
$grey: #202020;
// $light: rgb(224, 224, 224);
$light: #b9b9b9;
$white: #efefef;
$purpleWhite: #b199ff;
$dark: rgb(20, 20, 20);
